<%- include('partials/header') -%>
    <div class="container px-5 my-5">
    <h1 class="pl-3">Home</h1>
    <p class="px-3"><%= homeContent %></p>
    <% homePosts.forEach((homePost)=>{ %>
        <h2 class="pl-3"><%= homePost.Title %></h2>
        <p class="px-3"><%= homePost.Data.slice(0,100) %> ...<a href="/posts/<%= homePost.Title %>">Read More</a></p>
     <% }) %>
    </div>
<%- include('partials/footer') -%>